@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

#app {
    position: relative;
    overflow: hidden;
    background: #040404 url(assets/img/background.png) no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Nunito', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: var(--color-white);
}

.container {
    max-width: 1440px;
    width: calc(100% - 1em);
    margin: 0 auto;
}

input[type='text'] {
    background: transparent;
    border: $border;
    border-radius: $border-radius;
    color: var(--color-white);
    font-weight: 700;
    padding: $padding;
    outline: none;

    &::placeholder {
        color: var(--color-gray);
    }
}

button {
    background: transparent;
    border: $border;
    border-radius: $border-radius;
    color: var(--color-white);
    cursor: pointer;
    font-weight: 700;
    padding: $padding;
    outline: none;
}

@each $position in (top, bottom, right, left) {
    .margin-#{$position} {
        margin-#{$position}: 1em;
    }
}
